/* Background Image Styles */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgba(209, 220, 255, 0.596), rgba(133,126,233, 255));
  background-size: contain; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Fixed background scrolling */
  font-size: 14px;
}

.loading{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

/* .home{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gif {
  display: flex;
  flex-direction: row;
  margin-right: -205px;
  margin-left: 150px;
  margin-top: -350px;
} 

.inside-gif {
  margin-left: 20px;
} 
.content {
  flex: 1;
  margin-top:-150px;
  position: relative;
}

.animation{
  height: 50px;
  /* overflow: hidden; */
  
  .inside-gif {
    margin-left: 20px;
  }
  
  .animation {
    height: 50px;
  }
  
  .home-image {
    width: 650px;
    height: auto;
    margin-top: -50px; /* Adjust this value as needed to move the image higher */
  }
/* .home-image{
 padding: 100px;
} */

.hover-shadow {
  transition: transform 0.3s ease, backface-visibility 0s;; /* Add transition for box-shadow */
  backface-visibility: hidden;
}

.hover-shadow:hover {
  transform: scale(1.01); /* Add shadow on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Project Cards */
.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: calc(30% - 20px); /* Adjust the width here */
  margin: 20px auto; /* Adjust the margin for spacing between cards */
  margin-left: 180px;
  margin-right: 50px;
  margin-top: 50px;
  
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
}


.row.skills :hover {
  transform: scale(1.01); /* Add shadow on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transition: transform 0.3s ease;
    transform: scale(1.05); /* Scale up the card slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.footer{
  margin: 10px
}
