.card {
    width: 10rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Optional: Add padding for better spacing */
    box-sizing: border-box; /* Ensures padding is included in the total height and width */
}

.card-img-top {
    width: 100%;
    height: 130px;
    object-fit: contain;
    margin-bottom: auto; /* Push the image to the top, allowing text to be centered better */
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Ensures the text area takes up available space */
}